<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Variable Cost Calculator</h1>

    <form action="{% url 'calculate_v_cost' %}" method="post">
        {% csrf_token %}

        <label>Monthly/weekly Fuel Expenses:</label><br>
        <input type="number" placeholder="Ex: 250" name="fuel_expense"><br>

        <label>Monthly/weekly Maintenence Expenses:</label><br>
        <input type="number" placeholder="Ex: 50" name="maint_expense"><br>

        <label>Monthly/weekly Repair Expenses:</label><br>
        <input type="number" placeholder="Ex: 175" name="repair_expense"><br>

        <label>Monthly/weekly Other Expense Expenses:</label><br>
        <input type="number" placeholder="Ex: 100" name="other_expense"><br><br>

        <label>Total miles you drove this week/month.</label><br>
        <input type="number" placeholder="Ex: 400" name="total_miles_driven"><br><br>

        <input type="submit" value="Calculate"><br><br><br>

        <!-- Display the total cost -->
        <p>Total cost: {{ total_cost }}</p>

        <!-- Display the cost per mile -->
        <p>Cost per mile: {{ cost_per_mile }}</p><br><br>

    </form>
    <form action="http://127.0.0.1:8000/home/">
        <input type="submit" value="Back home" />
    </form><br>

    </form>
</body>

<footer>
    Application created by CoderDudeBrent!
</footer>

</html>