<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Total Profit Calculator</h1>

    <!--This code simply puts labels and boxes with placeholders in it for the user-->

    <form action="{% url 'calculate_profit' %}" method="post">
        {% csrf_token %}

        <label>Monthly/weekly Miles Driven:</label><br>
        <input type="number" placeholder="Ex: 300" name="miles_driven"><br>

        <label>Monthly/weekly Average MPG:</label><br>
        <input type="number" placeholder="Ex: 30" name="average_mpg"><br>

        <label>Monthly/weekly Pay:</label><br>
        <input type="number" placeholder="Ex: 500" name="payment"><br><br>

        <input type="submit" value="Calculate"><br><br><br>

        <!-- Display the cost per mile -->
        <p>Total Profit: {{ profit }}</p><br><br>

    </form>
    <!--Takes the user back to the homepage-->
    <form action="http://127.0.0.1:8000/home/">
        <input type="submit" value="Back home" />
    </form><br>

    </form>
</body>

<footer>
    Application created by CoderDudeBrent!
</footer>

</html>